@helper GetModal()
{
    <div class="modal fade" id="modal-container"
         tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                    
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
}

@helper SuccessMessage(string message)
{
    <div id="successMessage" class="hidden">
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> @message
        </div>
    </div>
}

@helper DeleteMessage()
{
    <div id="deleteMessage" class="hidden">
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Deleted!</strong> The record was deleted.
        </div>
    </div>
}