<!doctype html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/Content/favicon.png">
    <meta charset="UTF-8">
    <title>Developers PodCast: de Programadores para Programadores</title>
    <link rel="Stylesheet" href="/Css/Tags.css" type="text/css" />
    <style>
        body {
            margin: 0px;
        }
    </style>
</head>
<body>
    <main>
        <header>
            <a href="http://dotnetrocks.com/">
                <h1>.Net Rocks  Podcast</h1>
                <h2>Hablamos acerca de Desarrollo orientado a Objetos, arquitectura y las mejores prácticas en .Net</h2>
            </a>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Shows</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
        @RenderBody()
        
        <article>
            <h1>Los Secretos de JQuery Dave Ward</h1>
            <p id="introduction">
                <a href="http://encosia.com/">Dave Ward</a> (<a href="http://twitter.com/encosia">@@encosia</a>)se espcializa en ASP .NET,
                jQuery and ASP.NET AJAX. Es co-autor de ASP.NET Ajax en Accion,
                Segunda Edicion de Manning, <a href="http://nerddinner.com/">Nerd Dinner</a>'s
                JavaScript secret weapon, que esta en la lista <a href="http://programming.alltop.com/">
                    Programming homepage
                    of Alltop
                </a> y recientemente incluido como <a href="http://aspinsiders.com/">ASP Insider</a>.
            </p>

            <div id="players">
                <div class="container">
                    <div class="label">Normal:</div>
                    <div class="player">
                        <audio controls src="http://polymorphicpodcast.com/podcast/files/PolymorphicPodcast-2009-06-19-jquery.mp3">
                            <source />
                            <source />
                            <source />
                            <object type="application/x-shockwave-flash" data="http://polymorphicpodcast.com/plugins/audio-player/player.swf" width="290" height="24" id="Object1">
                                <param name="movie" value="http://polymorphicpodcast.com/plugins/audio-player/player.swf" />
                                <param name="FlashVars" value="playerID=1&amp;bg=0xE9E6DF&amp;leftbg=0xEEEEEE&amp;lefticon=0x666666&amp;rightbg=0xCCCCCC&amp;rightbghover=0x999999&amp;righticon=0x666666&amp;righticonhover=0xFFFFFF&amp;text=0x666666&amp;slider=0x666666&amp;track=0xFFFFFF&amp;border=0x666666&amp;loader=0xCCCCCC&amp;soundFile=http://polymorphicpodcast.com/podcast/files/PolymorphicPodcast-2009-06-19-jquery.mp3" />
                                <param name="quality" value="high" />
                                <param name="wmode" value="transparent" />
                            </object>
                        </audio>
                    </div>
                    <div class="link"><a class="download" href="http://polymorphicpodcast.com/podcast/files/PolymorphicPodcast-2009-06-19-jquery.mp3" title="download">&darr;</a></div>
                </div>
                <div class="container">
                    <div class="label">Rápido:</div>
                    <div class="player">
                        <audio controls src="http://polymorphicpodcast.com/podcast/files/PolymorphicPodcast-2009-06-19-jquery_fast.mp3">
                            <object type="application/x-shockwave-flash" data="http://polymorphicpodcast.com/plugins/audio-player/player.swf" width="290" height="24" id="audioplayer1">
                                <param name="movie" value="http://polymorphicpodcast.com/plugins/audio-player/player.swf" />
                                <param name="FlashVars" value="playerID=1&amp;bg=0xE9E6DF&amp;leftbg=0xEEEEEE&amp;lefticon=0x666666&amp;rightbg=0xCCCCCC&amp;rightbghover=0x999999&amp;righticon=0x666666&amp;righticonhover=0xFFFFFF&amp;text=0x666666&amp;slider=0x666666&amp;track=0xFFFFFF&amp;border=0x666666&amp;loader=0xCCCCCC&amp;soundFile=http://polymorphicpodcast.com/podcast/files/PolymorphicPodcast-2009-06-19-jquery_fast.mp3" />
                                <param name="quality" value="high" />
                                <param name="wmode" value="transparent" />
                            </object>
                        </audio>
                    </div>
                    <div class="link"><a class="download" href="http://polymorphicpodcast.com/podcast/files/PolymorphicPodcast-2009-06-19-jquery_fast.mp3" title="download">&darr;</a></div>
                </div>
            </div>

            <h2>¿Qué es JQuery?</h2>
            <p>
                <a href="http://jquery.com/">jQuery</a> aparentmente esta en todos lados, pero si aún tienes curiosidad acerca de que es JQuery, <a href="http://www.west-wind.com/weblog/">Rick Strahl</a>
                tiene una excelente introducción aqui: <a href="http://www.west-wind.com/presentations/jquery/">Una Introducción a JQuery</a>.
            </p>

            <p><a href="http://en.wikipedia.org/wiki/Jquery">la Pagina de jQuery en Wikipedia</a> nos dice que JQuery tiene las siguientes caracteristicas:</p>

            <blockquote>
                <ul>
                    <li>Selección de elementos del DOM para diferentes Navegadores, usando la librería de código abierto Sizzle</li>
                    <li>DOM traversal and modification (including support for CSS 1-3 and basic XPath)</li>
                    <li>Eventos </li>
                    <li>Manipulación de CSS </li>
                    <li>Efectos and animaciones </li>
                    <li>Ajax </li>
                    <li>Extensibilidad </li>
                    <li>Utilidades - tales como un explorador de versiones y la funcion each. </li>
                    <li>JavaScript Plugins </li>
                </ul>
            </blockquote>

            <p>
                <mark>Una de las fortalezas de jQuery es que te permite ejecutar tu codigo siempre cuando la página y sus elementos estan listos para procesamiento y manipulación</mark>.
                <a href="#jqueryReadyScript">Figura 1</a> demuestra como puedes usarlo:
            </p>
            <figure id="jqueryReadyScript">
                <pre>
$(function(){
// select items, run load scripts, etc.
});</pre>
                <figcaption>Figure 1: jQuery Ready</figcaption>
            </figure>

            <details open>
                <summary>Otros Recursos</summary>
                <ul>
                    <li><a href="https://www.dotnetrocks.com/">Dot Net Rocks Official</a> </li>
                    <li><a href="https://lostechies.com/jimmybogard/">Jimmy Bogard Blog</a> </li>
                    <li><a href="http://www.javascripttoolbox.com/jquery/cheatsheet/">jQuery 1.3.2 Cheat Sheet</a> </li>
                </ul>
            </details>
        </article>

        <aside id="extraLinks">
            <h1>Asegurate the ver el blog de Uzi!</h1>
            <p>¿Te gusta lo que encontraste aqui? puedes encontrar mas contenido sobre .Net en Castellano en <a href="http://uzimamani.me/">Uzi Mamani blog</a>.</p>
        </aside>

        <footer>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Shows</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>

            <div>Publicado <time datetime="2015-06-19T13:25:23-8:00" pubdate>Junio 19, 2015</time></div>
            <div>Todos los derechos Reservados &copy; Uzi Mamani 2008 - 2015</div>
        </footer>
    </main>
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.js" />
    <script>
            $(function() {
                // haz algo aqui
            });
    </script>
</body>
</html>