<!DOCTYPE html>
<html>
<head>
    <title>Mi Aplicación HTML5</title>
    <link href="~/Css/Site.css" rel="stylesheet" type="text/css" />    
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Opción 1</a></li>
                <li><a href="#">Opción 2</a></li>
                <li><a href="#">Opción 3</a></li>
            </ul>
        </nav>
    </header>
    @RenderBody()        
    <section>
        <p>Texto de prueba de parrafo</p>
        <br />        
    </section>    
    <footer>
        &copy; Todos los derechos reservados al autor.
        <a href="www.google.com">Click aqui</a>
    </footer>
</body>
</html>
